@charset "UTF-8";/* line 20, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.big {
  width: 200px !important;
  height: 200px !important;
}

/* line 25, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul {
  list-style: none;
}
/* line 27, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul:nth-child(1) {
  background-color: red;
  border-right: 2px solid white;
}

/* line 33, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
  text-align: center;
  background-color: #262626;
  height: 35vh;
  min-height: 150px;
}
/* line 43, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li:nth-child(1) {
  border-right: 2px solid white;
}
/* line 46, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li > a {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
/* line 54, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li > a .front-face-holder {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 59, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li > a .all-causes-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 1;
}
/* line 66, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li > a .circle {
  position: absolute;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: 4px solid #1d1d1d;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
/* line 78, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li .hoverElem {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
/* line 84, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li .hoverElem > div {
  height: 100%;
  font-size: 16px;
  display: table-cell !important;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
/* line 92, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li .hoverElem span {
  display: block !important;
  color: rgba(255, 255, 255, 0.9);
}
/* line 96, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li .hoverElem .hoverElem-header {
  color: rgba(255, 255, 255, 0.9);
  font-style: italic;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
  -ms-transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
  -o-transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
}
/* line 104, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
.causes-holder > ul > li .hoverElem .hoverElem-seperator {
  position: relative;
  font-size: 22px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
  -ms-transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
  -o-transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.1);
}

/* line 114, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
#dv-sa-hoverElem {
  background: #00bcce;
  background: rgba(0, 188, 206, 0.3);
}

/* line 119, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
#aa-hoverElem {
  background: #cea267;
  background: rgba(206, 162, 103, 0.4);
}

/* line 124, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
#pr-hoverElem {
  background: #333;
  background: rgba(75, 75, 75, 0.5);
}

/* line 129, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
#pf-hoverElem {
  background: rgba(0, 122, 41, 0.3);
}

/* line 134, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
#causes-holder-first {
  border-bottom: 2px solid white;
}

/* line 138, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/causes-page.css.scss */
#causes-holder-second {
  margin-bottom: 60px;
}
/* line 18, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.row {
  margin: 0;
}

/* line 22, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.main-cause-holder {
  font-weight: 300;
  font-style: normal;
  color: #00bcce;
}

/* line 27, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.main-cause-blocks {
  margin: 0;
  padding: 30px 0;
}

/* line 32, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.main-cause-headers-of-blocks-small {
  position: relative;
  font-size: 48px;
  font-weight: 300;
  font-style: italic;
}

/* line 38, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.main-cause-headers-of-blocks-large {
  font-size: 72px;
  font-weight: 300;
  font-style: italic;
}

/* line 43, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.header-facts {
  text-align: left;
  position: relative;
  left: 60px;
}

/* line 49, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* line 57, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block1 {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-image: url("assets/dv-main.jpg") no-repeat 0 0;
  height: calc(100vh - 71px);
  width: auto;
  background-size: cover;
  background-attachment: fixed;
}
/* line 71, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block1 .maincause-header {
  opacity: 0;
  -webkit-transition: opacity 1500ms ease;
  -moz-transition: opacity 1500ms ease;
  -ms-transition: opacity 1500ms ease;
  -o-transition: opacity 1500ms ease;
}
/* line 76, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block1 .block1-content {
  display: inline-block;
  margin-left: 60px;
  position: absolute;
  top: 30%;
}
/* line 83, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block1 .maincause-sub-header {
  display: inline-block;
  color: black;
  font-size: 18px;
  margin-left: 10px;
  font-weight: 300;
  font-style: italic;
}
/* line 91, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block1 .maincause-sub-header-underline {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  width: 100%;
  height: 3px;
  margin-left: 8px;
}
/* line 101, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block1 .maincause-header {
  font-size: 100px;
  text-align: left;
  line-height: 120px;
  font-weight: 300;
  font-style: italic;
}

/* line 109, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block2 {
  background-color: black;
  height: auto;
  position: relative;
}
/* line 114, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block2 .whatis-desc-holder {
  padding-bottom: 40px;
}
/* line 118, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block2 .dv-whatis-desc {
  text-align: center;
}
/* line 121, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block2 .dv-whatis-desc .whatis-desc-header {
  font-size: 24px;
  margin: 40px 0px 20px 0px;
  display: inline-block;
  font-weight: 300;
  font-style: italic;
}
/* line 128, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block2 .dv-whatis-desc .whatis-desc {
  color: #e6e6e6;
  font-size: 16px;
}

/* line 136, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-parent {
  position: relative;
  height: calc(100vh - 71px);
}

/* line 141, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block3 {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-image: url("dv-main2.jpg") no-repeat 0 0;
  height: calc(100vh - 71px);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 69px;
  z-index: -1;
}

/* line 158, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
#dv-block4 {
  color: black;
  position: absolute;
  top: 0px;
  padding: 0px 60px;
}

/* line 166, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder {
  font-size: 24px;
  margin: 50px 0px;
}
/* line 169, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .facts-row {
  padding: 0 60px;
  margin-bottom: 40px;
}
/* line 174, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .facts-highlight {
  font-size: 36px;
  color: #00bcce;
}
/* line 179, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .facts-big-text {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2em;
}
/* line 184, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .facts-big-text div {
  float: right;
}
/* line 189, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .facts-box {
  font-size: 16px;
  text-align: center;
  padding: 16px;
  border: 5px #00bcce solid;
}
/* line 196, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .facts-image {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
  float: right;
}
/* line 204, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder #greaterthan {
  font-weight: 700;
  font-size: 150px;
  line-height: 100%;
  text-align: center;
}
/* line 211, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .facts-full-length-statement {
  font-size: 36px;
  text-align: center;
}
/* line 216, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .inline-num-circle {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid #00bcce;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2em;
  width: 67px;
  position: relative;
  top: 5px;
}
/* line 228, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder #one-in-four-box {
  height: 200px;
}
/* line 232, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: black;
  position: absolute;
  font-size: 36px;
}
/* line 240, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: black;
}
/* line 251, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond-isolated span {
  color: white;
  position: relative;
  top: 23px;
  z-index: 1;
  left: -9px;
}
/* line 259, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond-left {
  left: 115px;
  border-bottom-color: transparent;
}
/* line 262, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond-left:after {
  border-top-color: transparent;
}
/* line 265, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond-left span {
  color: black;
  position: relative;
  top: 23px;
  z-index: 1;
  left: -15px;
}
/* line 273, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond-right {
  left: 217px;
}
/* line 275, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond-right span {
  color: white;
  position: relative;
  top: 23px;
  z-index: 1;
  left: -9px;
}
/* line 283, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond-top {
  top: -52px;
  left: 165px;
}
/* line 287, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder .diamond-bottom {
  left: 165px;
  bottom: 48px;
}
/* line 292, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/dv-sa-main-page.css.scss */
.facts-holder #facts-desc-right {
  text-align: right;
  font-size: 32px;
}

/** Media queries */
/* line 23, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
body {
  margin-top: 70px;
}

/* line 27, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
#logo {
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 992px) {
  /* line 37, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar {
    height: 70px;
    margin-bottom: 0px;
    background-color: #303030;
    font-size: 14px;
    color: #e7e7e7;
    font-weight: 600;
    border: none;
  }
  /* line 46, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #131313;
  }
  /* line 53, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-toggle {
    height: 40px;
    margin-bottom: 20px;
    padding: 0 5px !important;
    z-index: 1;
  }
  /* line 60, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-nav {
    margin: 0;
  }
  /* line 63, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-nav li {
    border-bottom: 1px solid #131313;
    border-top: 1px solid #464646;
  }
  /* line 66, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-nav li a {
    color: #e7e7e7;
    background-color: #262626;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    transition: background 0.25s linear;
  }
  /* line 70, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-nav li a:hover {
    background-color: #525252 !important;
  }
  /* line 77, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-collapse {
    border-top: 1px solid #131313;
    text-align: center;
  }
}
@media (min-width: 992px) {
  /* line 86, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar {
    margin-bottom: 0px;
    background-color: #303030;
    font-size: 14px;
    color: #e7e7e7;
    font-weight: 600;
    border: none;
  }
  /* line 95, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header {
    position: relative;
    height: 70px;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #131313;
  }
  /* line 104, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-nav > li > a {
    color: #e7e7e7;
  }
  /* line 108, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
  /* line 112, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-left > li {
    border-left: 1px solid #131313;
    box-shadow: -1px 0px 0px #464646;
  }
  /* line 117, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .navbar .container-header .navbar-right > li {
    border-right: 1px solid #131313;
    box-shadow: 1px 0px 0px #464646;
  }

  /* line 126, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  #sub-nav {
    background-color: #262626;
    position: relative;
    height: 40px;
    border-bottom: 1px solid #131313;
    z-index: -2;
    overflow-y: hidden;
    max-height: 0px;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39);
  }
  /* line 138, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  #sub-nav .header-add-on-list {
    height: 20px;
    width: 80%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* line 146, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  #sub-nav .header-add-on-list li {
    margin: 0 10px;
  }
  /* line 148, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  #sub-nav .header-add-on-list li a {
    font-size: 12px;
    text-decoration: none;
    color: #e7e7e7;
  }
  /* line 153, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  #sub-nav .header-add-on-list li a:not(.first-in-header-add-on-list):before {
    content: "•";
    left: -16px;
    font-size: 18px;
    line-height: 0px;
    position: relative;
    top: 2px;
  }

  /* line 165, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  .open {
    max-height: 40px !important;
  }

  /* line 169, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  li a.widen {
    line-height: 69px;
    padding: 0px 35px;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    transition: background 0.25s linear;
  }
  /* line 174, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/header.css.scss */
  li a.widen:hover {
    background-color: #525252 !important;
  }
}
/* line 18, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.row {
  margin: 0;
}

/* line 22, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.main-cause-holder {
  font-weight: 300;
  font-style: normal;
  color: #00bcce;
}

/* line 27, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.main-cause-blocks {
  margin: 0;
  padding: 30px 0;
}

/* line 32, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.main-cause-headers-of-blocks-small {
  position: relative;
  font-size: 48px;
  font-weight: 300;
  font-style: italic;
}

/* line 38, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.main-cause-headers-of-blocks-large {
  font-size: 72px;
  font-weight: 300;
  font-style: italic;
}

/* line 43, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.header-facts {
  text-align: left;
  position: relative;
  left: 60px;
}

/* line 49, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* line 57, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block1 {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(/images/dv-main.jpg) no-repeat 0 0;
  height: calc(100vh - 71px);
  width: auto;
  background-size: cover;
  background-attachment: fixed;
}
/* line 71, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block1 .maincause-header {
  opacity: 0;
  -webkit-transition: opacity 1500ms ease;
  -moz-transition: opacity 1500ms ease;
  -ms-transition: opacity 1500ms ease;
  -o-transition: opacity 1500ms ease;
}
/* line 76, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block1 .block1-content {
  display: inline-block;
  margin-left: 60px;
  position: absolute;
  top: 30%;
}
/* line 83, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block1 .maincause-sub-header {
  display: inline-block;
  color: black;
  font-size: 18px;
  margin-left: 10px;
  font-weight: 300;
  font-style: italic;
}
/* line 91, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block1 .maincause-sub-header-underline {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  width: 100%;
  height: 3px;
  margin-left: 8px;
}
/* line 101, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block1 .maincause-header {
  font-size: 100px;
  text-align: left;
  line-height: 120px;
  font-weight: 300;
  font-style: italic;
}

/* line 109, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block2 {
  background-color: black;
  height: auto;
  position: relative;
}
/* line 114, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block2 .whatis-desc-holder {
  padding-bottom: 40px;
}
/* line 118, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block2 .dv-whatis-desc {
  text-align: center;
}
/* line 121, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block2 .dv-whatis-desc .whatis-desc-header {
  font-size: 24px;
  margin: 40px 0px 20px 0px;
  display: inline-block;
  font-weight: 300;
  font-style: italic;
}
/* line 128, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block2 .dv-whatis-desc .whatis-desc {
  color: #e6e6e6;
  font-size: 16px;
}

/* line 136, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-parent {
  position: relative;
  height: calc(100vh - 71px);
}

/* line 141, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block3 {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(/images/dv-main2.jpg) no-repeat 0 0;
  height: calc(100vh - 71px);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 69px;
  z-index: -1;
}

/* line 158, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
#dv-block4 {
  color: black;
  position: absolute;
  top: 0px;
  padding: 0px 60px;
}

/* line 166, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder {
  font-size: 24px;
  margin: 50px 0px;
}
/* line 169, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .facts-row {
  padding: 0 60px;
  margin-bottom: 40px;
}
/* line 174, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .facts-highlight {
  font-size: 36px;
  color: #00bcce;
}
/* line 179, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .facts-big-text {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2em;
}
/* line 184, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .facts-big-text div {
  float: right;
}
/* line 189, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .facts-box {
  font-size: 16px;
  text-align: center;
  padding: 16px;
  border: 5px #00bcce solid;
}
/* line 196, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .facts-image {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
  float: right;
}
/* line 204, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder #greaterthan {
  font-weight: 700;
  font-size: 150px;
  line-height: 100%;
  text-align: center;
}
/* line 211, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .facts-full-length-statement {
  font-size: 36px;
  text-align: center;
}
/* line 216, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .inline-num-circle {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid #00bcce;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2em;
  width: 67px;
  position: relative;
  top: 5px;
}
/* line 228, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder #one-in-four-box {
  height: 200px;
}
/* line 232, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: black;
  position: absolute;
  font-size: 36px;
}
/* line 240, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: black;
}
/* line 251, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond-isolated span {
  color: white;
  position: relative;
  top: 23px;
  z-index: 1;
  left: -9px;
}
/* line 259, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond-left {
  left: 115px;
  border-bottom-color: transparent;
}
/* line 262, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond-left:after {
  border-top-color: transparent;
}
/* line 265, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond-left span {
  color: black;
  position: relative;
  top: 23px;
  z-index: 1;
  left: -15px;
}
/* line 273, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond-right {
  left: 217px;
}
/* line 275, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond-right span {
  color: white;
  position: relative;
  top: 23px;
  z-index: 1;
  left: -9px;
}
/* line 283, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond-top {
  top: -52px;
  left: 165px;
}
/* line 287, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder .diamond-bottom {
  left: 165px;
  bottom: 48px;
}
/* line 292, /Users/dmar/Dropbox/rails_projects/eluci_intro/app/assets/stylesheets/home.css.scss */
.facts-holder #facts-desc-right {
  text-align: right;
  font-size: 32px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
